@CHARSET "ISO-8859-1";
div.ccm-block-share-this-page ul.nav-tabs {
	padding-top: 10px;
}
div.ccm-block-share-this-page .ccm-tab-content {
    padding-top: 10px;
}
.form-group.half {
	width: calc(50% - 15px);
}

.ccm-block-share-this-page ul#sortable {
	margin: 0;
	padding: 0;
	border: none;
}
.ccm-block-share-this-page #sortable li {
	cursor: move;
	position: relative;
}
.ccm-block-share-this-page #sortable li input[type=checkbox] {
	cursor: pointer;
	margin: 0 15px;
	transform: scale(1.6);
}
.ccm-block-share-this-page #sortable li div {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #eaf7ff;
	border: 1px solid #ddd;
    padding: 10px;
    z-index: 10;
    width: 100%;
}
.ccm-block-share-this-page #sortable li input[type=text] {
	cursor: text;
	margin-bottom: 10px;
}
.ccm-block-share-this-page #sortable li.ui-state-default {
	background: #e6e6e6 url(/concrete/css/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; /* for c5-5.7 */
	border: none;
	list-style: none;
	margin: 0 0 10px 0;
	padding: 5px;
}
.ccm-block-share-this-page #sortable .ui-state-highlight {
	height: 67px;
	line-height: 1.2em;
	list-style: none;
}
.ccm-block-share-this-page .ui-sortable-helper {
	-webkit-box-shadow: 0px 10px 18px 2px rgba(54,55,66,0.27);
	-moz-box-shadow: 0px 10px 18px 2px rgba(54,55,66,0.27);
	box-shadow: 0px 10px 18px 2px rgba(54,55,66,0.27);
	border: 1px solid #ccc !important;
}
.ccm-block-share-this-page .form-control, .ccm-block-share-this-page .social-icon {
	cursor: pointer;
}
.ccm-block-share-this-page label.control-label {
    padding: 9px;
    margin: 0;
}
.ccm-block-share-this-page .lineup {
	padding: 15px 0 5px;
}
.ccm-block-share-this-page .lineup label {
	display: inline;
}
.ccm-block-share-this-page .sp-replacer {
	background-color: transparent;
	border-color: #dedede;
	padding: 8px;
	width: 100%;
}
.ccm-block-share-this-page .sp-preview {
	border-color: #dedede;
	height: 22px;
	width: calc(100% - 32px);
}
.ccm-block-share-this-page .sp-dd {
	visibility: hidden;
}
.ccm-block-share-this-page .sp-dd:before {
	content: '\f078'; /* chevron down */
	font-family: FontAwesome;
	font-size: 16px;
	position: relative;
	left: 8px;
	visibility: visible;
}
.ccm-block-share-this-page .bubbletext {
	position: relative;
}
.ccm-block-share-this-page .bubbletext button.edit {
	width: 100%;
}
.ccm-block-share-this-page .bubbletext .input-group {
	background: #eaf7ff;
	border: 1px solid #ddd;
	padding: 15px;
	position: absolute;
	right: -2px;
	top: -23px;
	width: 586px;
	z-index: 10;
}
.ccm-block-share-this-page .bubbletext .input-group div.ta {
	display: flex;
	padding-bottom: 15px;
}
.ccm-block-share-this-page .bubbletext .input-group textarea {
	height: 200px;
}
#ccm-tab-content-colorstyle.ccm-block-share-this-page div.form-group {
	height: 100%;
	margin: 0;
	padding: 0;
	width: calc(50% - 15px);
}
#ccm-tab-content-colorstyle.ccm-block-share-this-page  ul {
	background-color: #f8f8f8;
	height: 440px;
	padding: 0;
}
#ccm-tab-content-colorstyle.ccm-block-share-this-page  li.icon-box {
	list-style-image: none;
	display: block;
}
#icon-set-container.ccm-block-share-this-page  {
	padding-right: 8px;
}
#icon-preview-container.ccm-block-share-this-page  {
	padding-left: 8px;
}
